/* Global Rules */
body {
    font-family: "Montserrat";
}
/* Header */

header {
    height: 193px;
    width: 100%;
    font-size: 48px;
    font-weight: 400;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}
header > div {
    display: flex;
    align-items: center;
    width: 335px;
    justify-content: space-between;
    margin-left: 69px;
}
/* Main */
main {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.addTasks {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}
.addTasks > input {
    height: 65px;
    width: 400px;
    margin-right: 50px;
    border-radius: 10px;
    background-color: #f2f7fd;
    font-size: 24px;
    padding: 0 25px;
}

.addTasks > div {
    height: 65px;
    width: 130px;
    border-radius: 10px;
    background-color: #5c48d3;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.tasks input {
    margin-right: 15px;
    cursor: pointer;
}
.tasks > div {
    margin-bottom: 5px;
    font-size: 20px;
    display: flex;
}
.icon {
    color: #5c48d3;
    margin-left: 15px;
    cursor: pointer;
}
/* Footer */
footer {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
footer span {
    font-weight: bold;
}
